# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

target

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

.metadata
Migration/bin
Migration/src/generated
doxygen
doxyOutput
PC20Data/OPC_philips-p8-pc20-manual.pdf
Codesys/PC20.ASD
Codesys/PC20.SDB
Codesys/PC20.ASD
Codesys/PC20.SYM
Codesys/PC2000002ed3r.ECI
Codesys/PC20.ASD
*.SDB
*.SYM
Codesys/PC2000002ed3r.ci
Codesys/PC20.wibu.ini
Codesys/DEFAULT.DFR
Migration/outputFiles/test/FailedFileCompares.txt
